/*Responsividade HEADER*/
@media (max-width: 1250px){
    .container-header header nav a,
    .container-header header nav button {
      display: none;
    }
    .slide img{
        border-radius: 1px;
    }
  }
@media (min-width:1020px)(max-width: 1024px) {
    .container-header header nav a,
    .container-header header nav button {
      display: none;
    }
    .slide img{
        border-radius: 1px;
    }
    .container-column{
        padding: 0 25%;
    }
  }
  @media (min-width:750px) and (max-width: 920px){
    .container-header header nav a,
    .container-header header nav button {
      display: none;
    }
    .container-header header{
        padding: 10px 400px 10px 400px;
    }
    .slide img{
        width: 100%;
        height: 75%;
        border-radius: 1px;
    }
    .navigation-auto{
        margin: -80px 0 0 0;
    }
    .container-column{
        padding: 0 25%;
    }
  }
  @media (max-width: 750px) {
    .container-header header .login-form img,
    .container-header header button {
      display: none;
    }
    .container-header header .login-form{
        margin: 0;
     }
     .container-header header{
         padding: 10px 210px 10px 210px;
     }
     .slide img{
        width: 100%;
        height: 75%;
        border-radius: 1px;
    }
    .navigation-auto{
    
    }
  }

@media (max-width: 360px){
    .container-header header{
        padding: 10px 205px 10px 205px;
}
.container-column img{
    max-width: 340px;
  }
}
@media (max-width: 300px){
    .container-header header{
        padding: 10px 100px 10px 100px;
}
.container-header header .login-form input{
    display: none;
}
.container-header header .logo{
    padding-left:100px ;
}
}
/*FIM Responsividade HEADER*/

header {
    background-color: #fff;
    justify-content: center;
    color: white;
    padding: 10px 277px 10px 260px;
    display: flex;
    max-height: 92px;
    align-items: center;
}

nav {
  margin-right: 80px;
    position: relative;
    right: 10px;
  
}
/* Estilos CSS para os links no header */
nav a {

    color: rgb(0, 0, 0);
    text-decoration: none;

}



/* Estilos CSS para o logo */
.logo img {
   width: 193px;
   height: 37px;
}

/* Estilos CSS para o formulário de login e cadastro */
.login-form {
    display: flex;
    align-items: center;
    margin-left:88px;
}

.login-form input {
    border: none;
    text-align: center;
    background-color: #fff;

}

.login-form button {
    width: 148px;
    height: 35px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    border: #fff;
}
.logo a{
    border: none;
    
}
.search-bar { /* Por padrão, a barra de pesquisa está escondida */
    display: none;
}
.container-header{
    background-color: #007bff;
}


/**/

body {
    font-family: "DM Sans", sans-serif;
    background-color: #e9edf57f;
    margin: 0;
    padding: 0;
}

text-end{
 padding: 20px;
}

.title-services{

    text-align: center;

    padding: 20px;
}
.service-bg{
    padding: 40px;
}
.container-services {

    gap: 5px;
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service{
    text-align: center;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 130px;
    border-radius: 5px;
}
.service h6{
    margin-top: 25px;
}
/*feature*/
.features{
    text-align: center;
    padding: 40px;
}

.feature {
    width: calc(50% - 20px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.feature img{
    margin: 20px 20px 16px 10px;
}

.feature .title {
    font-weight: 600;
}
.feature .badge{
    padding: 7px 9px 6px;
    font-size: 10px;
}
.feature .description {
    text-align: start;
    padding-right:20px ;
}
.feature .link{
    position: relative;
    right: 20px;
    font-weight: 300;
}

    .container-features {
        
        background-color: #fff;
        max-width: 1150px;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature {
        width: calc(33.33% - 20px);

        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .icon {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 18px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }
    .badge {
        background-color: #007bff;
        color: #fff;
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 25px;
       margin: 5px;
    }
    .description {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    .link:hover {
        color: #0056b3;
    }

    @media screen and (max-width: 768px) {
        .feature {
            width: calc(50% - 20px);
        }
        .service-bg{
            padding-bottom: 100px;
            margin-bottom: 80px;
        }
    }
    @media screen and (max-width: 480px) {
        .feature {
            width: calc(100% - 20px);
        }
    }

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}
.title {
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}


.description {
    font-size: 14px;
    margin-bottom: 10px;
}
.link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}
.link:hover {
    color: #0056b3;
}
/* INICIO RESPONSIVIDADE column*/


@media (max-width: 425px){
    .column-c {
    max-width: 350px;
    }   
    .center-video {
        margin-top: 120px; /* Adiciona um espaço de preenchimento superior de 100px quando a largura da tela for igual ou menor que 450px */
    }
    .container-video iframe {
        width: 350px; /* Define o tamanho do vídeo para 350px quando a largura da tela for igual ou menor que 450px */
        height: auto; /* Para manter a proporção do vídeo */
 
    }

}
.container-column {
    
    max-width: 950px;
    margin: 20px auto;
}
.container-column img {

    max-width: 365px;
    position: relative;
    right: 20px;
}
.column-a {
    max-width: 475px;
    flex-basis: calc(50% - 10px);

    padding: 20px;
    box-sizing: border-box;
    display: inline-block;

}
.column-b {
max-width: 475px;
position: relative;
left: 10px;
align-items: center;

}
.column-b .nav-bar{
    margin-right: 10px;
}
.column-b ::placeholder{
    padding: 5px;
    font-size: small;
    color: rgba(128, 128, 128, 0.499);
}
.column-b .nav-bar-size{
    width: 300px;
    padding:7px ;
    border-radius: 5px;
    border: none;
}
.column-b .text-buttom {
font-size: 12px;
color: #fff;
padding: 10px;
border-radius: 10px;
border: #00b33c;
width: 120px;
height: 42px;
}
.column-c {
    padding: 15px;
    
}
.column-c img{
    width: 400px;
    position: relative;
    left: 10px;
}


@media (max-width: 540px){
    .column-b .text-end{
        margin-top: 8px;
    }
    .service-bg{
        padding-bottom: 100px;
        margin-bottom: 40px;
    }
    .center-mockup {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens na direção do eixo transversal (vertical) */
    }

    .center-mockup .main-image {
        
    }
    .center-mockup .mockup-a{
        padding: 10px 100px 10px 70px;

    }
    .center-mockup .mockup-column{
        padding: 0 100px 0 70px;
    }
    .column-mockup .mockup-column2{
        padding: 0 100px 0 70px;
    }
    .center-video {
        margin-top: 120px; /* Adiciona um espaço de preenchimento superior de 100px quando a largura da tela for igual ou menor que 450px */
    }
    .container-video iframe {
        width: 350px; /* Define o tamanho do vídeo para 350px quando a largura da tela for igual ou menor que 450px */
        height: auto; /* Para manter a proporção do vídeo */
 
    }
    .navigation-auto{
        margin: -100px -40px;
    }
}

/* INICIO RESPONSIVIDADE Iphone SE*/
@media (max-width: 435px){
 
    .column-b .text-end{
        margin-top: 8px;
    }
    .column-c img{
        left: 0;
    }
    .service-bg{
        padding-bottom: 100px;
    }
    .center-mockup {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens na direção do eixo transversal (vertical) */
    }

    .main-img{
        position: relative;
        right: 10px;
    }
  
    .center-mockup .mockup-a{
        padding: 10px 130px 10px 60px;

    }
    .center-mockup .mockup-column{
        padding: 0 100px 0 70px;
    }
    .column-mockup .mockup-column2{
        padding: 0 100px 0 70px;
    }
    .center-video {
        margin-top: 120px; /* Adiciona um espaço de preenchimento superior de 100px quando a largura da tela for igual ou menor que 450px */
    }
    .container-video iframe {
        width: 350px; /* Define o tamanho do vídeo para 350px quando a largura da tela for igual ou menor que 450px */
        height: auto; /* Para manter a proporção do vídeo */
    
    }
    .navigation-auto{
        margin: -200px -40px;
    }
    .slide img{
        width: 100%;
        height: 50%;
        border-radius: 1px;
    }
}

@media (max-width: 400px){
    .column-main-img{
        max-width: 390px;
    }
    .column-b .text-end{
        margin-top: 8px;
    }
    .column-c img{
        max-width: 350px;
    }
    .service-bg{
        padding-bottom: 100px;
    }
    .center-mockup {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens na direção do eixo transversal (vertical) */
    }

    .main-img{
        max-width: 390px ;
        position: relative;
        right: 18px;
    }
  
    .center-mockup .mockup-a{
        padding: 10px 130px 10px 60px;

    }
    .center-mockup .mockup-column{
        padding: 0 100px 0 70px;
    }
    .column-mockup .mockup-column2{
        padding: 0 100px 0 70px;
    }
    .center-video {
        margin-top: 120px; /* Adiciona um espaço de preenchimento superior de 100px quando a largura da tela for igual ou menor que 450px */
    }
    .container-video iframe {
        width: 310px; /* Define o tamanho do vídeo para 350px quando a largura da tela for igual ou menor que 450px */
        height: auto; /* Para manter a proporção do vídeo */
 
    }
}

@media (max-width: 380px){
 
   
    .container-video iframe {
        width: 375px;
        height: 305px;
    }
    .container-header header{
        padding: 10px 180px 10px 180px;
  }
  .container-column img{
    width: 330px;
  }
  .column-c img{
    max-width: 330px;
    }
    .container-video iframe {
        width: 320px; /* Define o tamanho do vídeo para 350px quando a largura da tela for igual ou menor que 450px */
        height: auto; /* Para manter a proporção do vídeo */
 
    }
    .main-img{
        max-width: 320px;
        position: relative;
        right: 20px;
    }
  
  }
  @media (max-width: 360px){
    .main-img{
        max-width: 320px;
        position: relative;
        right: 25px;
    }
  }

  .center-mockup .mockup-a{
    padding: 10px 135px 10px 60px;

}
 
  @media (max-width: 768px) {
    .mockup {
        width: 100%; /* Quando a largura da tela for menor que 768px, tornar cada mockup ocupando toda a largura */
    }
}


@media (max-width: 280px){
 
   
    .container-video iframe {
        width: 215px;

  
  }
  .center-mockup .mockup-a{
    padding: 10px 235px 10px 50px;

}

.main-img{
    max-width: 50px;
    position: relative;
    right: 125px;
}

  @media (max-width: 768px) {
    .mockup {
        width: 100%; /* Quando a largura da tela for menor que 768px, tornar cada mockup ocupando toda a largura */
    }
}
}

.center-mockup{
 
    margin: 0 150px;

    text-align: start;
    justify-content: center;
    height: 600px;
    padding: 50px 80px ;
   display: flex;
}
.column-mockup{


    max-width: 1200px;
    text-align:center;

}
.mockup{
    width: 200px;
    margin: 20px 0 0 30px;
}
.mockup-column{
    display: flex;
    box-sizing: border-box;
    width: 550px;
    flex-wrap: wrap;
}
.mockup-column2{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.mockup-a{
    text-align: start;
    padding: 40px 20px 0 30px;
}
.container-video{
    padding: 0;

    text-align: center;
}
.center-video {
    padding: 40px;
}
.container-video h4{
    padding: 0 10px 20px;
}
.container-video p{
    margin: 0;
}
.container-video .link {
    display: block;
    padding:20px 0 20px;
    font-weight: 400;
}
/*RESPONSIVIDADE CARROSSEL*/
@media (max-width: 380px){
    .slider{
        width: 235px;
        height: 117px;
    }
    .slides{
        width: 235px;
        height: 117px;
    }
    .slider img{
        width: 100%;
        height: 40%;
    }
}

.Container-carousel{
    
    background-color: #fff;
    padding: 50px;
    text-align: center;
    justify-content: center;

    padding: 70px 70px 100px 70px;
}
.slider {

    margin: 0 auto;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 3s;
    justify-content: center;
}
.slide img{
    max-width: 250%;
    max-height: 100%;
    border-radius: 35px;

}
.manual-navigation{
    display: flex;

    width: 800px;
    height: 12px;
    margin: 5px 0 0 500px;
    justify-content: center;
}
.manual-btn{
    border: 1px solid rgba(128, 0, 128, 0.673);
    position: absolute;
    top: -100px;
    left: -60px;
    max-width: 800px;
    gap: 5px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
.manual-btn:hover{
    background-color: purple;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
.navigation-auto div{
    border: 2px solid gray;
    background-color: gray;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    max-width: 800px;
    position: absolute;
    left: 47%;
    
    display: flex;
    padding: 10px ;

    gap: 13px;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 0;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: purple;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: purple;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: purple;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: purple;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: purple;
}

.footer{
    

}
.pedal{
    display: flex;

}
.container-footer{

    height: 80px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;


}
.carousel-inner{
  
    max-width: 800px;
   
}